<h1 style="text-align:center;font-size: 40px;font-family: 'Times New Roman', Times, serif;font-style: calc();">TelcoPredict</h1>
<p>
    <nav style="background-image:linear-gradient(to left,#00bfff ,#00ffd6); padding:10px 0;">
        <ul style="list-style:none;display:flex;justify-content:space-between;">
            <li style="margin:0 10px"><a href="{% url 'home' %}">Home</a></li>
            <li style="margin:0 10px"><a href="{% url 'about' %}">About</a></li>
            <li style="margin:0 10px"><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
</p>
<div style="background-repeat: round;background-color:wheat;font-style: inherit;">
    <h1 style="justify-content: flex-end;">Welcome to the about page</h1>
    <h2>This is a telecom customer churn prediction system which tells about whether the customer is going to go away from the service or not </h2>
</div>

