<p>
    <nav style="background-image:linear-gradient(to left,#00bfff ,#00ffd6); padding:10px 0;">
        <ul style="list-style:none;display:flex;justify-content:space-between;">
            <li style="margin:0 10px"><a href="{% url 'home' %}">Home</a></li>
            <li style="margin:0 10px"><a href="{% url 'about' %}">About</a></li>
            <li style="margin:0 10px"><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
</p>
<div style="text-align:center;background-color: antiquewhite;">
    <h1>Contact Page</h1>
    <p> rajarshee.das.cse26@heritageit.edu.in</p>
</div>